<form class="form-signin" ng-submit="login()">
  <div class="alert alert-warning">
    <p class="text-center">Please Login</p>
  </div>
  <h2 class="form-signin-heading"><i class="fa fa-user"></i> Login</h2>
  <!--div class="form-group">
    <label for="username" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="username" placeholder="Username">
    </div>
  </div-->
  <div class="form-input name">
  <div class="form-input username">
    <!--input type="text" class="form-control" placeholder="Username" name="username" ng-model="registerObj.username" autofocus="true"
      ng-minlength="4" ng-maxlength="16" ng-required="true" remote-validated="used"-->
    <input type="text" class="form-control" placeholder="Username" ng-model="user.username" />

  </div>
  <div class="form-input password">
    <!--input type="password" class="form-control password" placeholder="Password" name="password" ng-model="registerObj.password" ng-minlength="4" ng-maxlength="16" ng-required="true" password-match="registerObj.password2"-->
    <input type="password" class="form-control" placeholder="Password" ng-model="user.password" /><br/>
  </div>

  <button type="submit" class="btn btn-primary">Login</button>

  <!--button class="btn btn-lg btn-block" type="submit"
    ng-class="{ 'btn-primary': registerForm.$valid && registerForm.$dirty, 'btn-success': redirect }"
    ng-disabled="registerForm.$invalid || registerForm.$pristine || xhr || redirect">
    <span ng-hide="redirect">Login <i class="fa fa-repeat fa-spin" ng-show="xhr"></i></span>
    <span ng-show="redirect">Redirecting... <i class="fa fa-repeat fa-spin"></i></span>
  </button-->
</form>
