<div class="search" >
	<form class="form-search" ng-submit="searchData()">
		<div class="row form-group">
			<div class="col-sm-7 col-sm-offset-3">
				<input type="text" ng-model="searchText" class="input-block-level form-control txtSearch" placeholder="Search for Public Information Officer">
				<button class="btn-search" type="submit">
					<i class="fa fa-search fa-fs"></i>
				</button>

				<a id="advanced_search" ng-click="goAdvanced = !goAdvanced" class="">Advanced Search</a>
			</div>

			<div class="col-sm-7 col-sm-offset-3" id="adv_form"  ng-show="goAdvanced">
				<form class="form-horizontal" >
					<label class="control-label" for="name">Name</label>
					<input id="name" name="name" class="form-control"  type="text">

					<label class="control-label" for="designation">Designation</label>
					<select id="designation" name="designation" class="form-control" >
						<option>Option one</option>
						<option>Option two</option>
					</select>

					<label class="control-label" for="department">Department</label>
					<select id="department" name="department" class="form-control" >
						<option>Option one</option>
						<option>Option two</option>
					</select>

					<label class="control-label" for="area">Area</label>
					<select id="area" name="area" class="form-control" >
						<option>Option one</option>
						<option>Option two</option>
					</select>

					<label class="control-label" for="state">State</label>
					<select id="state" name="state" class="form-control" >
						<option>Option one</option>
						<option>Option two</option>
					</select>
					<button id="avd_sub" class="btn-browse" type="submit">
						Search
					</button>
				</form>

			</div>

		</div>

	</form>
</div>

<div class="row" id="search_results">
	<div class="col-sm-8 col-sm-offset-2 panel search_panel">

		<div class="col-sm-8">
			<p class="searcn_name">
				Mr. N. G. Vasanth Kumar
			</P>
			<p class="search_designation">
				Public Information Officer, Food Association
			</P>
			<p class="search_address">
				Keas 69 Str. 15234, Chalandri</br>
				Athens, Greece</br>
			</p>
		</div>

		<div class="col-sm-4 search_contacts">
			<p>
				<span>Contact: </span>+91 987654321
			</P>
			<p>
				<span>Fax: </span>+040 5645654564
			</P>
			<p>
				<span>Email: </span>vasanthkumar@fciabc.gov.in
			</p>
		</div>
	</div>
</div>

<div class="row">
	<ul class="pager">
		<li>
			<a href="#">Previous</a>
		</li>
		<li>
			<a href="#">Next</a>
		</li>
	</ul>
</div>