<div class="search" >
<form class="form-search" ng-submit="searchData()">
    <div class="row form-group">
        <div class="col-sm-7 col-sm-offset-1">
            <input type="text" ng-model="searchText" class="input-block-level form-control txtSearch" placeholder="Search for an RTI info...">
            <button class="btn-search" type="submit"><i class="fa fa-search fa-fs"></i></button>
        </div>
    </div>
</form>
</div>

<div ng-controller="SearchCtrl">
    <div class="search_result" ng-repeat='data in objAry |
        offset: currentPage*itemsPerPage |
        limitTo: itemsPerPage'>{{country}}
        <li>Country :{{data['Country']}} </li>
        <li>Station :{{data['Station']}} </li>
        <li>Public_Information_Officer :{{data['Public_Information_Officer']}} </li>
        <li>Appellate_Authority :{{data['Appellate_Authority']}} </li>
        <li>Fax_No :{{data['Fax_No']}} </li>
        <li>URL :{{data['url']}} </li>
    </div>

    <div ng-if="objAry[0] != null" >
        <ul class="pager">
            <li ng-class="prevPageDisabled()">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a href="#/search">{{n+1}}</a>
            </li>
            <li ng-class="nextPageDisabled()">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
    </div>
</div>
