<div class="search" >

	<div class="col-sm-11 col-sm-offset-1 " ng-show="showresults=='false'" style="background: white;padding: 30px;margin-bottom: 50px;">
		<h2>Do you want to file an RTI? Don't know who to address your RTI application to?</h2>
		<p>
			The Public Information Officer (PIO) is the Central Point of Contact (POC) for filing applications under the Right to Information (RTI). The PIO is also responsible for providing the requested information to the Information Seeker. Thus the role of the PIO is very critical for the success of the RTI act.
			<br>
			<br>
			Citizens often find it very difficult to the find the relevant PIO for a particular public authority.  This discourages a lot of them from using the RTI act. This application allows you to search for the relevant PIO for filing the RTI both for Central Government and State Governments. The data is collated from various government sources.
		</p>
	</div>
	<form class="form-search" ng-submit="searchData()">
		<div class="row form-group">
			<div class="col-sm-7 col-sm-offset-3">
				<input type="text"  data-ng-model="term" class="input-block-level form-control txtSearch" placeholder="Search for Public Information Officer">
				<button class="btn-search" data-ng-click="search()" ng-hide="goAdvanced">
					<i class="fa fa-search fa-fs"></i>
				</button>

				<a id="advanced_search" ng-click="goAdvanced = !goAdvanced" class="">Advanced Search</a>
			</div>

			<div class="col-sm-7 col-sm-offset-3" id="adv_form"  ng-show="goAdvanced">
				<form class="form-horizontal" >
					<!-- <label class="control-label" for="name">Name</label>
					<input id="name" name="name" class="form-control"  type="text"> -->

					<!-- <label class="control-label" for="designation">Designation</label>
					<select id="designation" name="designation" class="form-control" >
					<option>Option one</option>
					<option>Option two</option>
					</select> -->

					<label class="control-label" for="department">Department</label>
					<select id="department" data-ng-model="dept" name="department" class="form-control" >
						<option>Indian Missions</option>
						<option>India Post</option>
						<option>Ministry of Youth Affairs & Sports</option>
						<option>Ministry of Agro & Rural Industries</option>
						<option>Department of Atomic Energy</option>
						<option>Ministry of Civil Aviation</option>
						<option>Ministry of Coal</option>
						<option>Ministry of Culture</option>
						<option>Ministry of Development of North Eastern Region</option>
						<option>Comptroller & Auditor General</option>
						<option>Department of space</option>
						<option>Ministry of Urban Development</option>
						<option>Vice-President</option>
						<option>Ministry of Water Resources</option>
						<option>Ministry of Women & Child Development</option>
						<option>Ministry of Railways</option>
						<option>Ministry of shipping</option>
						<option>Ministry of Drinking Water and Sanitation</option>
						<option>Election Commission of India</option>
						<option>Ministry of External Affairs</option>
						<option>Ministry of Food Processing Industries</option>
						<option>Ministry of Road Transport & Highways</option>
						<option>Ministry of Information & Broadcasting</option>
						<option>Ministry of Labour & Employment</option>
						<option>Ministry of Earth Sciences</option>
						<option>Ministry of Environment & Forests</option>
						<option>Ministry of Housing & Urban Poverty Alleviation</option>
						<option>Ministry of Micro, Small and Medium Enterprises</option>
						<option>Ministry of Mines</option>
						<option>Ministry of Panchayati Raj</option>
						<option>Ministry of Minority Affairs</option>
						<option>Ministry of New & Renewable Energy</option>
						<option>Ministry of Overseas Indian Affairs</option>
						<option>Ministry of Parliamentary Affairs</option>
						<option>Ministry of Petroleum & Natural Gas</option>
						<option>Planning Commission</option>
						<option>Ministry of Power</option>
						<option>President</option>
						<option>Ministry of Social Justice & Empowerment</option>
						<option>Ministry of Small Scale Industries</option>
						<option>Ministry of Statistics & Programme Implementation</option>
						<option>Ministry of Steel</option>
						<option>Ministry of Textiles</option>
						<option>Ministry of Tourism</option>
						<option>Ministry of Tribal Affairs</option>
					</select>

					<!-- <label class="control-label" for="area">Area</label>
					<select id="area" name="area" class="form-control" >
					<option>Option one</option>
					<option>Option two</option>
					</select> -->

					<label class="control-label" for="state">State</label>
					<select id="state" data-ng-model="state" name="state" class="form-control" >
						<option>Andaman and Nicobar Islands</option>
						<option>Andhra Pradesh</option>
						<option>Arunachal Pradesh</option>
						<option>Assam</option>
						<option>Bihar</option>
						<option>Chandigarh</option>
						<option>Chhattisgarh</option>
						<option>Dadra and Nagar Haveli</option>
						<option>Daman and Diu</option>
						<option>Delhi</option>
						<option>Goa</option>
						<option>Gujarat</option>
						<option>Haryana</option>
						<option>Himachal Pradesh</option>
						<option>Jammu and Kashmir</option>
						<option>Jharkhand</option>
						<option>Karnataka</option>
						<option>Kerala</option>
						<option>Lakshadweep Islands</option>
						<option>Madhya Pradesh</option>
						<option>Maharashtra</option>
						<option>Manipur</option>
						<option>Meghalaya</option>
						<option>Mizoram</option>
						<option>Nagaland</option>
						<option>Odisha</option>
						<option>Puducherry</option>
						<option>Punjab</option>
						<option>Rajasthan</option>
						<option>Sikkim</option>
						<option>Tamil Nadu</option>
						<option>Telangana</option>
						<option>Tripura</option>
						<option>Uttar Pradesh</option>
						<option>Uttarakhand</option>
						<option>West Bengal</option>
					</select>
					<button id="avd_sub" class="btn-browse" type="submit" data-ng-click="search()">
						Search
					</button>
				</form>

			</div>

		</div>

	</form>
</div>
<p style="text-align: center" ng-hide="loader == 'hide'";>
	<img src="assets/images/loader.gif" />
</p>

<div class="row" id="search_results" >

	<div class="col-sm-8 col-sm-offset-2 " ng-show="results.data.length>0">
		<h5>{{results.data.length}} results found</h5>
	</div>

	<div class="col-sm-8 col-sm-offset-2 " ng-show="results.data.length==0">
		<h4>No Results Found</h4>
	</div>

	<div class="col-sm-8 col-sm-offset-2 panel search_panel" data-ng-repeat="resultdata in results.data">

		<div class="col-sm-8">
			<p class="searcn_name">
				{{resultdata.name}}
			</P>
			<p class="search_designation">
				{{resultdata.designation}}, {{resultdata.department}}
			</P>
			<p class="search_address">
				<span ng-hide="resultdata.address == 'null'";><strong>Registered Address</strong>: {{resultdata.address}}
					<br>
				</span>
				<span ng-hide="resultdata.city == 'null'";><strong>City</strong>: {{resultdata.city}}
					<br>
				</span>
				<span ng-hide="resultdata.state == 'null'";><strong>State</strong>: {{resultdata.state}}
					<br>
				</span>
				<span ng-hide="resultdata.country == 'null'";><strong>Country</strong>: {{resultdata.country}}</span>
			</p>
			<span ng-hide="resultdata.url == 'null'";>Website: </span><a href="{{resultdata.url}}" target="_blank">{{resultdata.url}}</a>
		</div>

		<div class="col-sm-4 search_contacts">
			<p ng-hide="resultdata.phone == 'null'";>
				<span>Contact: </span>{{resultdata.phone}}
			</P>
			<p ng-hide="resultdata.fax == 'null'";>
				<span>Fax: </span>{{resultdata.fax}}
			</P>
			<p ng-hide="resultdata.email == 'null'";>
				<span>Email: </span>{{resultdata.email}}
			</p>
		</div>
	</div>
</div>

<div class="row" style="display: none">
	<ul class="pager">
		<li>
			<a href="#">Previous</a>
		</li>
		<li>
			<a href="#">Next</a>
		</li>
	</ul>
</div>